---
 - name: Server Daten
   hosts: localhost
   become: true


   tasks:
     - name: Anemldung als Root verweigern
       ansible.builtin.lineinfile:
         path: /etc/ssh/sshd_config
         regexp: '^#?PermitRootLogin'
         line: 'PermitRootLogin no'
         state: present


     - name: bestimmte Ports erlauben
       community.general.ufw:
         rule: allow
         port: "{{ item }}"
       loop:
         - 80
         - 443
         - 22

